/* image popup */
img.mfp-img {
    box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    position: absolute;
    max-height: 100%;
    padding: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-close {
    top: -110px;
    right: -24px;
}

.onovo-play-btn {
    z-index: 9999;
    bottom:  20%;
}

.onovo-brands {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.onovo-brands .brand-link {
    display: block;
    position: relative;
}

.onovo-brands .image {
    display: block;
    overflow: hidden;
}

.onovo-brands .image img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
    /* Black and white by default */
    filter: grayscale(100%);
}

.onovo-brands:hover .image img {
    /* Show color on hover */
    filter: grayscale(0%);
}
.awards-img {
    width: 10%;
    margin: 1em 0;
}